.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

body
{
    background-size: cover;
    background-position: center;
}

#objects
{
    background-color: #FFFF00;
  color: #000000;
  padding: 15px 25px;
  text-decoration: none;
  border-radius: 10px ; 
}